* {
  box-sizing: border-box;
}

body, html {
  font-size: 15px;

  --grey: #efefef;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2;
}

.planner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  .react-tabs__tab-list {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100;
    background: white;
  }

  &__loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }

  &__share {
    background-color: var(--grey);
    padding: 1em;

    input {
      display: block;
      width: 100%;
    }
  }
}

.add-friend {
  &__inputs {
    text-align: right;
  }
}

.picker {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 1em;

  &__stages {
    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0.25em 0.5em;
    }
  }

  .picky {
    margin-bottom: 1em;

    &__input {
      cursor: pointer;
    }

    &__dropdown {
      max-height: 500px !important;
    }
  }
}

.schedule {
  padding: 1em;
}
